[submodule "libs/ofxDatGui"]
	path = libs/ofxDatGui
	url = https://github.com/luiscript/ofxDatGui
[submodule "libs/DarkKnightMidi"]
	path = libs/DarkKnightMidi
	url = git://github.com/luiscript/DarkKnightMidi
[submodule "libs/DarkKnightOsc"]
	path = libs/DarkKnightOsc
	url = git://github.com/luiscript/DarkKnightOsc
[submodule "libs/DarkKnightMapping"]
	path = libs/DarkKnightMapping
	url = git://github.com/luiscript/DarkKnightMapping
[submodule "libs/DarkKnightSyphon"]
	path = libs/DarkKnightSyphon
	url = git://github.com/luiscript/DarkKnightSyphon
[submodule "libs/DarkKnightAbletonLink"]
	path = libs/DarkKnightAbletonLink
	url = git://github.com/luiscript/DarkKnightAbletonLink
[submodule "libs/DarkKnightHap"]
	path = libs/DarkKnightHap
	url = https://github.com/luiscript/DarkKnightHap
[submodule "libs/DarkKnightPostProcessing"]
	path = libs/DarkKnightPostProcessing
	url = https://github.com/luiscript/DarkKnightPostProcessing
[submodule "libs/DarkKnightAudioAnalyzer"]
	path = libs/DarkKnightAudioAnalyzer
	url = https://github.com/luiscript/DarkKnightAudioAnalyzer
[submodule "libs/DarkKnightVideoRecorder"]
	path = libs/DarkKnightVideoRecorder
	url = https://github.com/luiscript/DarkKnightVideoRecorder
